;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[de.active-group/reacl-c "0.9.1-SNAPSHOT"]]

 :dev-http {8080 "public"}

 :builds
 {:frontend
  {:target :browser
   :modules {:main {:init-fn kenranunderscore.app/init}}}}}
